
<div id="particles-js"></div>
<div [ngClass]="'home-container ' + theme">

  <div [ngClass]="'animated lightSpeedIn delay-1s content ' + theme">
    <div class="animated pulse delay-2s text-header">
        <h1>{{'Akshay Saini' | uppercase }}</h1>
        <p>{{'Software Developer' | uppercase }}</p>
    </div>
    <div class="animated rubberBand delay-2s icons">
      <a [ngClass]="theme" href="http://github.com/anonyxhappie"><mat-icon svgIcon="github"></mat-icon></a>
      <a [ngClass]="theme" href="mailto:heyakshaysaini@gmail.com"><mat-icon svgIcon="gmail"></mat-icon></a>
      <a [ngClass]="theme" href="http://linkedin.com/in/anonyxhappie"><mat-icon svgIcon="linkedin"></mat-icon></a>
    </div>
  </div>
</div>
