
<div id="particles-js"></div>
<div [ngClass]="'home-container ' + theme">

  <div [ngClass]="'content ' + theme">
    <div class="text-header">
        <h1>Akshay Saini</h1>
        <p>{{'Software Developer' | uppercase }} </p>
    </div>
    <div class="icons">
      <a [ngClass]="theme" href="http://github.com/anonyxhappie"><mat-icon svgIcon="github"></mat-icon></a>
      <a [ngClass]="theme" href="mailto:akshay2saini@gmail.com"><mat-icon svgIcon="gmail"></mat-icon></a>
      <a [ngClass]="theme" href="http://linkedin.com/in/anonyxhappie"><mat-icon svgIcon="linkedin"></mat-icon></a>
    </div>
  </div>
</div>
