// @import url('https://fonts.googleapis.com/css?family=McLaren&display=swap');
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Liu+Jian+Mao+Cao|Yeon+Sung|ZCOOL+KuaiLe|ZCOOL+XiaoWei&display=swap');
// font-family: 'Liu Jian Mao Cao', cursive;
// font-family: 'Black Ops One', cursive;
// font-family: 'Yeon Sung', cursive;
// font-family: 'ZCOOL KuaiLe', cursive;
// font-family: 'ZCOOL XiaoWei', serif;

$color1: #fff;
$color2: darken(#888fff, 10%);
$fontStyle: 'ZCOOL KuaiLe', cursive;
// $color2: cornflowerblue;

@keyframes cursoranimate {
  0%{
    cursor: url("http://jantimon.nl/running_man/running_man_1.png"), auto;
  }
  20%{
    cursor: url("http://jantimon.nl/running_man/running_man_2.png"), auto;
  }
  40%{
    cursor: url("http://jantimon.nl/running_man/running_man_3.png"), auto;
  }
  60%{
    cursor: url("http://jantimon.nl/running_man/running_man_4.png"), auto;
  }
  80%{
    cursor: url("http://jantimon.nl/running_man/running_man_5.png"), auto;
  }
  100%{
    cursor: url("http://jantimon.nl/running_man/running_man_1.png"), auto;
  }
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  animation: cursoranimate 0.25s infinite;
}

.home-container {
  font-family: $fontStyle;
  margin: 0;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // border: 1px solid;
  align-items: center;
  justify-content: center;

  .content {
    // background-color: cornflowerblue;
    min-width: 320px;
    width: 30%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    box-shadow: -1px 2px 36px 21px rgba(0,0,0,0.33);
    z-index: 5;

    .text-header {
      text-align: center;
      font-weight: bold;
      h1 {
        font-size: 2.5rem;
        line-height: 2rem;
        position: relative;
        z-index: 3;
        font-family: 'ZCOOL XiaoWei', serif;
      }
      p {
        position: relative;
        z-index: 3;
      }
    }
    .icons {
      margin-bottom: 1rem;
      a {
        position: relative;
        z-index: 4;
        text-decoration: none;
        margin: 1rem;
        transition: color ease 1s;
      }
      a:hover {
        // color: darken($color1, 15%);
        cursor: pointer;
      }
      a.light {
        color: $color1;
      }
      a.dark {
        color: $color2;
      }
      .mat-icon {
        width: 2rem;
        height: 2rem;
        // position: relative;
        // z-index: 2;
      }
    }
  }
  .content.light {
    background-color: $color2;
    color: $color1;
  }
  .content.dark {
    background-color: $color1;
    color: $color2;
  }
}

.home-container.light {
  background-color: $color1;
}

.home-container.dark {
  background-color: $color2;
}
